<ul class="logos-list">
  {% for select in selection %}
    <li>
      <a href="{{ select.url }}">
        <img src="{{ select.logo }}" alt="{{ select.title }}" />
      </a>
    </li>
  {% endfor %}
</ul>