{#
  leaflet
  Renders a leaflet map
  
  params: {
    leaflet: {
      latitute: number,
      longitude: number,
      zoom: number,
      containerId: string,
      containerHeight: number,
      markers: [
        { 
          title: string,
          latitute: number,
          longitude: number,
          content: {
            title: string,
            body: string,
            link: string
          }
        }
      ] 
    }
  }

  YAML example:
  leaflet:
      latitute: 51.509865
      longitude: -0.118092
      zoom: 10
      containerId: "map"
      containerHeight: 600
      markers:
        - title: London
          latitute: 51.509865
          longitude: -0.118092
          content: 
            title: "London"
            body: "London is a political, historical, cultural, and tourist center of the United Kingdom, an important city and commercial spot in Western Europe..."
            link: "https://en.wikipedia.org/wiki/London"
        - title: Windsor Castle
          latitute: 51.483334
          longitude: -0.604167
          content: 
            title: "Windsor Castle"
            body: "Windsor Castle is one of the most known buildings and a royal residence in the county of Berkshire..."
            link: "https://en.wikipedia.org/wiki/Windsor_Castle"
#}

<div class="leaflet-wrapper section-inner">
  <div class="map-wrapper leaflet-map js-leaflet-map section-inner">
    <div 
      id="{{ params.leaflet.containerId }}"
      data-latitute="{{ params.leaflet.latitute }}"
      data-longitude="{{ params.leaflet.longitude }}"
      data-zoom="{{ params.leaflet.zoom }}" 
      style="height: {{ params.leaflet.containerHeight }}px; width: 100%;" 
      data-markers="{{ params.leaflet.markers | objToString }}">
    </div>
  </div>
</div>